# ignore all content but keep folder
data/*
!data/.gitkeep

data_products/*
!data_products/.gitkeep

exploration/NGC613
exploration/run_ifscube/previous_results
exploration/run_ifscube/*.pdf
exploration/run_ifscube/*.fits
exploration/run_ifscube/ifscube
exploration/run_ppxf/__pycache__/*
exploration/run_ifscube/__pycache__/*
exploration/run_ppxf/*.pdf
exploration/run_ppxf/test_vonoroi.py
exploration/run_ppxf/ppxf_test.py
exploration/run_ppxf/*.fits
exploration/run_ppxf/*.yaml
exploration/test_conf/
exploration/run_ppxf/test_voronoi.py

miscellaneous/.ipynb_checkpoints
miscellaneous/*.ipynb
miscellaneous/*.pdf

plots/*pdf

dporuvidas.md
melhorias.md
improvements.md

**/*.dat
