[fit]
fit_continuum: yes 
fitting_window: 6400e-10:6720e-10
function: gaussian
guess_parameters: yes
# optimization_window: 8
optimize_fit: no
overwrite: yes
refit: no
#bounds_change: 0.05, 50, 50
refit_radius: 2
spiral_center: cofm 
spiral_loop: yes
suffix: _linefit
#test_jacobian: no
#trivial: no
verbose: yes
write_fits: yes
method = slsqp

[loading]
primary: PRIMARY
scidata: SCI
variance: ERR
spatial_mask: MASK
stellar: STELLAR
# flags: FLAG
# nan_spaxels: all

[minimization]
eps: 1e-3
ftol: 1e-8
disp: yes
maxiter: 1000

[continuum]
degree: 3
n_iterate: 5
lower_threshold: 2
upper_threshold: 2
line_weight: 0.0
# weights: continuum_mask.txt

[equivalent_width]
sigma_factor: 5

######################      H grouṕ       ######################

[ha]
rest_wavelength: 6562.8e-10
velocity: 1480, +- 400
sigma: 80, 20:120
amplitude: peak, 0:
k_group: 0
continuum_windows: 6400e-10, 6530e-10, 6640e-10, 6720e-10

