[fit]
fit_continuum: yes 
fitting_window: 4780e-10:7405e-10
function: gaussian
guess_parameters: yes
optimize_fit: no
overwrite: yes
#individual_spec: 39, 28
refit: yes
bounds_change: 1e1, 50, 1e3
refit_radius: 2
spiral_center: cofm 
spiral_loop: yes
suffix: _linefit
test_jacobian: yes
#trivial: no
verbose: yes
write_fits: yes
method = slsqp

[loading]
primary: PRIMARY
scidata: SCI
variance: ERR
spatial_mask: MASK
stellar: STELLAR

[minimization]
eps: 1e-3
ftol: 1e-8
disp: yes
maxiter: 1000

[continuum]
degree: 3
n_iterate: 4
lower_threshold: 2
upper_threshold: 2
line_weight: 0.0

[equivalent_width]
sigma_factor: 3

######################      H Narrow      ######################

[ha_narrow]
rest_wavelength: 6562.8e-10
velocity: 1480, +- 210
sigma: 75, 50:200
amplitude: median, 0:6e4
k_group: 0
continuum_windows: 4800e-10, 4850e-10, 5500e-10, 5800e-10, 6400e-10, 6500e-10, 7000e-10, 7400e-10

[hb_narrow]
rest_wavelength: 4861.333e-10
amplitude: median, 0:2e4
k_group: 0


######################      H broad Blue-shifted      ######################

[ha_broad_broad_blue]
rest_wavelength: 6562.8e-10
velocity: 1480, +- 700, < ha_narrow.velocity - 2
sigma: 300, 180:450
#, > 2.5 * ha_narrow.sigma
amplitude: median, 0:5e4
k_group: 1
continuum_windows: 4800e-10, 4850e-10, 5500e-10, 5800e-10, 6400e-10, 6500e-10, 7000e-10, 7400e-10

[hb_broad_broad_blue]
rest_wavelength: 4861.333e-10
amplitude: median, 0:1e4
k_group: 1

