[fit]
fit_continuum: yes 
fitting_window: 4780e-10:7405e-10
function: gaussian
guess_parameters: yes
# optimization_window: 8
optimize_fit: no
overwrite: yes
#individual_spec: 36, 34
refit: no
#bounds_change: 0.01, 40, 50
refit_radius: 2
spiral_center: cofm 
spiral_loop: yes
suffix: _linefit
#test_jacobian: no
#trivial: no
verbose: yes
write_fits: yes
#method = differential_evolution
method = slsqp

[loading]
primary: PRIMARY
scidata: SCI
variance: ERR
spatial_mask: MASK
stellar: STELLAR
# flags: FLAG
# nan_spaxels: all

[minimization]
eps: 1e-4
ftol: 1e-5
disp: yes
maxiter: 100

[continuum]
degree: 3
n_iterate: 4
lower_threshold: 2
upper_threshold: 2
line_weight: 0.0
# weights: continuum_mask.txt

#[equivalent_width]
#sigma_factor: 3

######################      H Narrow      ######################

[ha_narrow]
rest_wavelength: 6562.8e-10
velocity: 1480, +- 210
sigma: 75, 60:200
#100
amplitude: median, 0:6e4
k_group: 0
continuum_windows: 4800e-10, 4850e-10, 5500e-10, 5800e-10, 6400e-10, 6500e-10, 7000e-10, 7400e-10

[hb_narrow]
rest_wavelength: 4861.333e-10
amplitude: median, 0:2e4
#, ha_narrow.amplitude / 3 >
k_group: 0


##################    Low-emission Narrow   ##############################

[nii_6548_narrow]
rest_wavelength: 6548.04e-10
#velocity: 1480, +- 200
#sigma: 75, 60:100
amplitude: median, 0:1e4
k_group : 0
#continuum_windows: 4800e-10, 4870e-10, 5500e-10, 6300e-10, 6400e-10, 6530e-10, 6640e-10, 6720e-10, 7000e-10, 7400e-10

[nii_6583_narrow]
rest_wavelength: 6583.46e-10
amplitude: median, 0:6e4, nii_6548_narrow.amplitude / 0.32
k_group: 0

[sii_6716_narrow]
rest_wavelength: 6716.44e-10
amplitude: median, 0:1e4
k_group: 0

[sii_6730_narrow]
rest_wavelength: 6730.810e-10
amplitude: median, 0:1e4
k_group: 0

[nii_5197_narrow]
rest_wavelength: 5197.03e-10
amplitude: median, 0:550
k_group: 0

[oi_6300_narrow]
rest_wavelength: 6300.304e-10
amplitude: median, 0:400
k_group: 0

[sii_6312_narrow]
rest_wavelength: 6312.06e-10
amplitude: median, 0:80
k_group: 0

[oi_6363_narrow]
rest_wavelength: 6363.776e-10
amplitude: median, 0:700
k_group: 0

[oiii_4958_narrow]
rest_wavelength: 4958.91e-10
amplitude: median, 0:500
k_group: 0

[oiii_5007_narrow]
rest_wavelength: 5006.843e-10
amplitude: median, 0:1500
k_group : 0

######################      H broad Blue-shifted      ######################

[ha_broad_broad_blue]
rest_wavelength: 6562.8e-10
velocity: 1480, +- 700, < ha_narrow.velocity - 1
sigma: 250, 100:450, > 1.8 * ha_narrow.sigma
#400
amplitude: median, 0:5e4
k_group: 1
continuum_windows: 4800e-10, 4850e-10, 5500e-10, 5800e-10, 6400e-10, 6500e-10, 7000e-10, 7400e-10

[hb_broad_broad_blue]
rest_wavelength: 4861.333e-10
amplitude: median, 0:1e4
k_group: 1

##################    Low-emission Broad  Blue-shifted  ##############################

[nii_6548_broad_blue]
rest_wavelength: 6548.04e-10
#velocity: 1480, +- 400, < nii_6548_narrow.velocity - 1
#sigma: 250, 200:400
amplitude: median, 0:1e4
k_group : 1
continuum_windows: 4800e-10, 4870e-10, 5500e-10, 6300e-10, 6400e-10, 6530e-10, 6640e-10, 6720e-10, 7000e-10, 7400e-10

[nii_6583_broad_blue]
rest_wavelength: 6583.46e-10
amplitude: median, 0:8e3, nii_6548_broad_blue.amplitude / 0.32
k_group : 1

[sii_6716_broad_blue]
rest_wavelength: 6716.44e-10
amplitude: median, 0:1e4
k_group: 1

[sii_6730_broad_blue]
rest_wavelength: 6730.810e-10
amplitude: median, 0:1e4
k_group: 1


[nii_5197_broad_blue]
rest_wavelength: 5197.03e-10
amplitude: median, 0:300
k_group: 1

[oi_6300_broad_blue]
rest_wavelength: 6300.304e-10
amplitude: median, 0:800
k_group: 1

[sii_6312_broad_blue]
rest_wavelength: 6312.06e-10
amplitude: median, 0:100
k_group: 1

[oi_6363_broad_blue]
rest_wavelength: 6363.776e-10
amplitude: median, 0:300
k_group: 1

[oiii_4958_broad_blue]
rest_wavelength: 4958.91e-10
amplitude: median, 0:800
k_group: 1

[oiii_5007_broad_blue]
rest_wavelength: 5006.843e-10
amplitude: median, 0:5e3
k_group : 1
##################    Low-emission Broad  Red-shifted  ##############################

#[nii_6548_broad_red]
#rest_wavelength: 6548.04e-10
#velocity: 1480, +- 300, > nii_6548_narrow.velocity - 1
#sigma: 250, 200:400
#amplitude: median, 0:8e3
#k_group : 4
#continuum_windows: 4800e-10, 4870e-10, 5500e-10, 6300e-10, 6400e-10, 6530e-10, 6640e-10, 6720e-10, 7000e-10, 7400e-10

#[nii_6583_broad_red]
#rest_wavelength: 6583.46e-10
#amplitude: median, 0:1e4
#k_group : 4

