#[fit]
#fit_continuum: yes 
#fitting_window: 6480e-10:7100e-10
#function: gaussian
#guess_parameters: yes
#optimization_window: 5
#optimize_fit: yes
#overwrite: yes
#refit: no
#refit_radius: 1.5
#bounds_change = 1, 50, 30
#spiral_center: cofm
#spiral_loop: yes
#suffix: _linefit
#verbose: no
# write_fits: yes
# monte_carlo: 0
# method = differential_evolution
# method = slsqp
# nan_spaxels = all

[fit]
fit_continuum: yes 
fitting_window: 4780e-10:7150e-10
function: gaussian
guess_parameters: yes
# optimization_window: 8
optimize_fit: no
overwrite: yes
refit: no
refit_radius: 2
spiral_center: cofm 
spiral_loop: yes
suffix: _linefit
test_jacobian: no
trivial: no
verbose: yes
write_fits: yes

[loading]
primary: PRIMARY
scidata: SCI
variance: ERR
spatial_mask: MASK
stellar: STELLAR
# flags: FLAG
# nan_spaxels: all

[minimization]
eps: 1e-2
ftol: 1e-5
disp: yes
maxiter: 1000

[continuum]
degree: 10
n_iterate: 5
lower_threshold: 2
upper_threshold: 2
line_weight: 0.0
# weights: continuum_mask.txt

[equivalent_width]
sigma_factor: 5

######################      Narrow lines        ######################

[hb]
rest_wavelength: 4861.333e-10
velocity: 1480, +- 400
sigma: 80, 60:120
#h_3: 0, +- 0.2
#h_4: 0, +- 0.2
amplitude: peak, 0:
k_group: 0
continuum_windows: 4800e-10, 4870e-10, 5500e-10, 6300e-10, 6400e-10, 6530e-10, 6640e-10, 6720e-10, 7000e-10, 7100e-10

[oiii_4958]
rest_wavelength: 4958.91e-10
amplitude: peak, 0:
k_group: 0

[oiii_5007]
rest_wavelength: 5006.843e-10
amplitude: peak, 0:
k_group : 0

[oi_6300]
rest_wavelength: 6300.304e-10
amplitude: peak, 0:
k_group: 0

[n2_6548]
rest_wavelength: 6548.04e-10
amplitude: peak, 0:
k_group : 0

[ha]
rest_wavelength: 6562.8e-10
amplitude: peak, 0:
k_group: 0

[n2_6583]
rest_wavelength: 6583.46e-10
amplitude: peak, 0:
k_group: 0

[s2_6716]
rest_wavelength: 6716.44e-10
amplitude: peak, 0:
k_group: 0

[s2_6730]
rest_wavelength: 6730.810e-10
amplitude: peak, 0:
k_group: 0

######################      Blue-shifted       ######################

#[hb_blue]
#rest_wavelength: 4861.333e-10
#velocity: 700, +- 200
#sigma: 100, 100:400
#h_3: 0, +- 0.2
#h_4: 0, +- 0.2
#amplitude: peak, 0:
#k_group: 1
#continuum_windows: 4800e-10, 4870e-10, 5500e-10, 6300e-10, 6400e-10, 6530e-10, 6640e-10, 6720e-10, 7000e-10, 7100e-10

#[oiii_4958_blue]
#rest_wavelength: 4958.91e-10
#amplitude: peak, 0:
#k_group: 1

######################      Broad lines        ######################

#[broad_hb]
#rest_wavelength: 4861.333e-10
#velocity: 1480, +- 1500
#sigma: 250, 150:400
#h_3: 0, +- 0.2
#h_4: 0, +- 0.2
#amplitude: peak, 0:
#k_group: 1
#continuum_windows: 4800e-10, 4870e-10, 5500e-10, 6300e-10, 6400e-10, 6530e-10, 6640e-10, 6720e-10, 7000e-10, 7100e-10

#[broad_oiii_4958]
#rest_wavelength: 4958.91e-10
#amplitude: peak, 0:
#k_group: 1

#[broad_oiii_5007]
#rest_wavelength: 5006.843e-10
#amplitude: peak, 0:
#k_group : 1

#[broad_oi_6300]
#rest_wavelength: 6300.304e-10
#amplitude: peak, 0:
#k_group: 1

#[broad_n2_6548]
#rest_wavelength: 6548.04e-10
#amplitude: peak, 0:
#k_group : 1

#[broad_ha]
#rest_wavelength: 6562.8e-10
#amplitude: peak, 0:
#k_group: 1

#[broad_n2_6583]
#rest_wavelength: 6583.46e-10
#amplitude: peak, 0:
#k_group: 1

#[broad_s2_6716]
#rest_wavelength: 6716.44e-10
#amplitude: peak, 0:
#k_group: 1

#[broad_s2_6730]
#rest_wavelength: 6730.810e-10
#amplitude: peak, 0:
#k_group: 1

# []
# rest_wavelength: 
# amplitude: peak, 0: ,
# k_group: 0
# continuum_windows: 6480e-10, 6530e-10, 7000e-10, 7100e-10
