[fit]
fit_continuum: yes 
fitting_window: 4780e-10:7405e-10
function: gaussian
guess_parameters: yes
optimize_fit: no
overwrite: yes
#individual_spec: 39, 28
refit: yes
bounds_change: 2, 50, 40
refit_radius: 2
spiral_center: cofm 
spiral_loop: yes
suffix: _linefit
test_jacobian: no
#trivial: no
verbose: yes
write_fits: yes
method = slsqp

[loading]
primary: PRIMARY
scidata: SCI
variance: ERR
spatial_mask: MASK
stellar: STELLAR

[minimization]
eps: 1e-3
ftol: 1e-8
disp: yes
maxiter: 1000

[continuum]
degree: 3
n_iterate: 4
lower_threshold: 2
upper_threshold: 2
line_weight: 0.0

[equivalent_width]
sigma_factor: 3

######################      H Narrow      ######################

[ha_narrow]
rest_wavelength: 6562.8e-10
velocity: 1480, +- 230
sigma: 75, 50:180
amplitude: median, 0:1e5
k_group: 0
continuum_windows: 4800e-10, 4850e-10, 5500e-10, 5800e-10, 6400e-10, 6500e-10, 7000e-10, 7400e-10

[hb_narrow]
rest_wavelength: 4861.333e-10
amplitude: median, 0:5e4
k_group: 0


##################    Low-emission Narrow   ##############################

[nii_6548_narrow]
rest_wavelength: 6548.04e-10
amplitude: median, 0:
k_group : 0

[nii_6583_narrow]
rest_wavelength: 6583.46e-10
amplitude: median, 0:, nii_6548_narrow.amplitude / 0.32
k_group: 0

[sii_6716_narrow]
rest_wavelength: 6716.44e-10
amplitude: median, 0:
k_group: 0

[sii_6730_narrow]
rest_wavelength: 6730.810e-10
amplitude: median, 0:
k_group: 0

[nii_5197_narrow]
rest_wavelength: 5197.03e-10
amplitude: median, 0:
#550
k_group: 0

[oi_6300_narrow]
rest_wavelength: 6300.304e-10
amplitude: median, 0:
#1000
k_group: 0

[sii_6312_narrow]
rest_wavelength: 6312.06e-10
amplitude: median, 0:
#60
k_group: 0

[oi_6363_narrow]
rest_wavelength: 6363.776e-10
amplitude: median, 0:
#300
k_group: 0

[oiii_4958_narrow]
rest_wavelength: 4958.91e-10
amplitude: median, 0:
#500
k_group: 0

[oiii_5007_narrow]
rest_wavelength: 5006.843e-10
amplitude: median, 0:
#1500
k_group : 0

######################      H broad Blue-shifted      ######################

[ha_broad_broad_blue]
rest_wavelength: 6562.8e-10
velocity: 1480, +- 800
#, < ha_narrow.velocity - 2
sigma: 300, 180:
#, > 2.5 * ha_narrow.sigma
amplitude: median, 0:
#5e4
k_group: 1
continuum_windows: 4800e-10, 4850e-10, 5500e-10, 5800e-10, 6400e-10, 6500e-10, 7000e-10, 7400e-10

[hb_broad_broad_blue]
rest_wavelength: 4861.333e-10
amplitude: median, 0:
#1e4
k_group: 1

##################    Low-emission Broad  Blue-shifted  ##############################

[nii_6548_broad_blue]
rest_wavelength: 6548.04e-10
amplitude: median, 0:
#1e4
k_group : 1
continuum_windows: 4800e-10, 4870e-10, 5500e-10, 6300e-10, 6400e-10, 6530e-10, 6640e-10, 6720e-10, 7000e-10, 7400e-10

[nii_6583_broad_blue]
rest_wavelength: 6583.46e-10
amplitude: median, 0:1e4, nii_6548_broad_blue.amplitude / 0.32
k_group : 1

[sii_6716_broad_blue]
rest_wavelength: 6716.44e-10
amplitude: median, 0:
#1e4
k_group: 1

[sii_6730_broad_blue]
rest_wavelength: 6730.810e-10
amplitude: median, 0:
#1e4
k_group: 1


[nii_5197_broad_blue]
rest_wavelength: 5197.03e-10
amplitude: median, 0:
#300
k_group: 1

[oi_6300_broad_blue]
rest_wavelength: 6300.304e-10
amplitude: median, 0:
#900
k_group: 1

[sii_6312_broad_blue]
rest_wavelength: 6312.06e-10
amplitude: median, 0:
#80
k_group: 1

[oi_6363_broad_blue]
rest_wavelength: 6363.776e-10
amplitude: median, 0:
#300
k_group: 1

[oiii_4958_broad_blue]
rest_wavelength: 4958.91e-10
amplitude: median, 0:
#800
k_group: 1

[oiii_5007_broad_blue]
rest_wavelength: 5006.843e-10
amplitude: median, 0:
#5e3
k_group : 1
##################    Low-emission Broad  Red-shifted  ##############################

#[nii_6548_broad_red]
#rest_wavelength: 6548.04e-10
#velocity: 1480, +- 300, > nii_6548_narrow.velocity - 1
#sigma: 250, 200:400
#amplitude: median, 0:8e3
#k_group : 4
#continuum_windows: 4800e-10, 4870e-10, 5500e-10, 6300e-10, 6400e-10, 6530e-10, 6640e-10, 6720e-10, 7000e-10, 7400e-10

#[nii_6583_broad_red]
#rest_wavelength: 6583.46e-10
#amplitude: median, 0:1e4
#k_group : 4

