[fit]
fit_continuum: yes 
fitting_window: 4780e-10:7405e-10
function: gaussian
guess_parameters: yes
optimize_fit: no
overwrite: yes
#individual_spec: 39, 28
refit: yes
bounds_change: 2, 40, 30
refit_radius: 2
spiral_center: cofm 
spiral_loop: yes
suffix: _linefit
test_jacobian: no
#trivial: no
verbose: yes
write_fits: yes
method = slsqp

[loading]
primary: PRIMARY
scidata: SCI
variance: ERR
spatial_mask: MASK
stellar: STELLAR

[minimization]
eps: 1e-3
ftol: 1e-8
disp: yes
maxiter: 1000

[continuum]
degree: 3
n_iterate: 4
lower_threshold: 2
upper_threshold: 2
line_weight: 0.0

[equivalent_width]
sigma_factor: 3


##################    Low-emission Narrow   ##############################

[nii_6548_narrow]
rest_wavelength: 6548.04e-10
amplitude: median, 0:
velocity: 1480, +- 250
sigma: 75, 40:170
continuum_windows: 4800e-10, 4850e-10, 5500e-10, 5800e-10, 6400e-10, 6500e-10, 7000e-10, 7400e-10
k_group : 1

[nii_6583_narrow]
rest_wavelength: 6583.46e-10
amplitude: median, 0:, nii_6548_narrow.amplitude / 0.32
k_group: 1

[sii_6716_narrow]
rest_wavelength: 6716.44e-10
amplitude: median, 0:
k_group: 1

[sii_6730_narrow]
rest_wavelength: 6730.810e-10
amplitude: median, 0:
k_group: 1

[nii_5197_narrow]
rest_wavelength: 5197.03e-10
amplitude: median, 0:
#550
k_group: 1


#[sii_6312_narrow]
#rest_wavelength: 6312.06e-10
#amplitude: median, 0:
#60
#k_group: 1


##################    Low-emission Broad  Blue-shifted  ##############################

[nii_6548_broad_blue]
rest_wavelength: 6548.04e-10
amplitude: median, 0:
velocity: 1480, +- 800
sigma: 300, 170:600
#1e4
k_group: 3
continuum_windows: 4800e-10, 4870e-10, 5500e-10, 6300e-10, 6400e-10, 6530e-10, 6640e-10, 6720e-10, 7000e-10, 7400e-10

[nii_6583_broad_blue]
rest_wavelength: 6583.46e-10
amplitude: median, 0:1e4, nii_6548_broad_blue.amplitude / 0.32
k_group: 3

[sii_6716_broad_blue]
rest_wavelength: 6716.44e-10
amplitude: median, 0:
#1e4
k_group: 3

[sii_6730_broad_blue]
rest_wavelength: 6730.810e-10
amplitude: median, 0:
#1e4
k_group: 3


[nii_5197_broad_blue]
rest_wavelength: 5197.03e-10
amplitude: median, 0:
#300
k_group: 3



#[sii_6312_broad_blue]
#rest_wavelength: 6312.06e-10
#amplitude: median, 0:
#80
#k_group: 3


##################    Very-Low-emission Narrow ##############################

[oi_6300_broad]
rest_wavelength: 6300.304e-10
amplitude: median, 0:
velocity: 1480, +- 250
sigma: 75, 40:170
#900
k_group: 4

[oi_6363_broad]
rest_wavelength: 6363.776e-10
amplitude: median, 0:
#300
k_group: 4

##################    Very-Low-emission Broad  Blue-shifted  ##############################

[oi_6300_broad_blue]
rest_wavelength: 6300.304e-10
amplitude: median, 0:
velocity: 1480, +- 800
sigma: 300, 170:600
#900
k_group: 5

[oi_6363_broad_blue]
rest_wavelength: 6363.776e-10
amplitude: median, 0:
#300
k_group: 5

